.table {
    width: 100%;
    height: 400px;
}

.table__stickyHeader {
    position: sticky;
    top: 0;
    background-color: white; 
    z-index: 1; 
  }

.table__row:hover {
    background-color: var(--color-primary200);
}

.table__row:hover .table__row__deleteIcon {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.table__row:hover .table__row__deleteIcon:hover {
    opacity: 1;
}

.table__row__iconCell {
    width: '90px';
    height: '70px'; 
    display: 'flex'; 
    align-items: center;
    justify-content: 'space-between';
    border-bottom: 'none';
}

.table__row__deleteIcon {
    cursor: pointer;
    opacity: 0;
}

.table__row__deleteButton {
    padding: '6px 16px'
}

.table__columnTitle {
    font-weight: bold;
}

.table__columnTitle:hover {
    cursor: pointer;
}