:root {
  --header-height: 40px; /* Hauteur du header */
  --footer-height: 60px; /* Hauteur du footer */
}

html, body {
  height: 100%;
  margin: 0;
}

.layout {
  height: 100svh;
  position: relative; /* Contexte de positionnement pour les éléments absolus */
  height: 100vh;      /* Occupation totale de la fenêtre */
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Header fixé en haut */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 5px 16px;
  z-index: 1000;
}

/* Footer fixé en bas */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Zone de contenu qui occupe exactement l'espace entre header et footer */
.layout__content {
  position: absolute;
  top: var(--header-height);
  bottom: var(--footer-height);
  left: 0; right: 0;
  box-sizing: border-box;
  padding: 10px 10px;
  overflow: hidden;    /* <<<<< au lieu de visible */
}

/* Pour les navigateurs WebKit (Chrome, Edge, Safari) */
.scrollable-content::-webkit-scrollbar {
  width: 8px;
}

.scrollable-content::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: var(--theme-color); /* Utilise la couleur du thème */
  border-radius: 4px;
  border: 2px solid transparent;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Pour Firefox */
.scrollable-content {
  scrollbar-width: thin;
  scrollbar-color: var(--theme-color) transparent;
}


