.buttonGroup {
    display: flex;
    list-style: none;

    border-radius: 2rem;
	color: var(--color-primary400);
    border: 2px solid var(--color-primary400);

	overflow: hidden;
	width: fit-content;
}

.buttonGroup:hover {
	color: var(--color-primary);
    border-color: var(--color-primary);
	box-shadow:
		0 0 4px var(--color-primary),
		0 0 8px var(--color-primary);
}

.buttonGroup__item {
    font-size: 1rem;
	font-weight: 800;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	transition: 0.25s;
}

.buttonGroup__item:hover {
	color: var(--color-primary200);
	background-color: var(--color-primary);
}

.buttonGroup__focus {
	color: var(--color-primary-light);
    background-color: var(--color-primary400);
}